* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;  
  width: 334px;
  height: 340px;

}


  .flexbox{
      grid-column-start:1 ;
      grid-row-end: 1;
      background-color:#C7DDEA ;
      left: 219px;
      width: 334px;
      height: 340px;

      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-style: italic;
      font-size: 40px;

      }

  .flexbox1{

    grid-column-start: 2;
      grid-row-end: 1;
      background-color:#FFFFFF;
      width: 334px;
      height: 340px;

      display: grid;
      align-items: flex-start;
      justify-content: center;



  }

  .flexbox2 {
      grid-column-start:3;
      grid-row-end:1;
      background-color: #EBEBEB;
      width: 334px;
      height: 340px;

      display: grid;
      align-items: flex-start;
      justify-content: center;

  }

  .flexbox3{
   grid-column-start: 1;
   grid-row-end: 2;  
   background-color: #ffffff;
   width: 334px;
   height: 340px;

   display: grid;
   align-items: flex-start;
   justify-content: center;


  }

  .flexbox4{
      grid-column-start: 2;
      grid-row-end: 2;
      background-color: #f17949;
      width: 334px;
      height: 340px;

      display: grid;
      align-items: flex-start;
      justify-content: center;

  }

  .flexbox5{
      grid-column-start: 3;
      grid-row-end: 2;
      background-color: #FFFFFF;
      width: 334px;
      height: 340px;

      display: grid;
      align-items: flex-start;
      justify-content: center;

  }
