* {	

    box-sizing: border-box;
}

body {
    margin:0;
}

h1 {
	
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 45px;
    width: 314px;
    margin-bottom: auto;
}

h4 {
    color: #0000007e;  
}
        
h4, .paragraph, a, .button {
        
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    line-height: 1.7;
}

.paragraph {

    width: 268px;
    line-height: 1.5;
    color: r#0000007e;
    font-weight: 700;
    margin: 0;
}

.white-text {

    color: #ffffff;
}

.title {

    font-size: 32px;
    font-family: 'Frank Ruhl Libre', sans-serif;
    color: #ffffff;
    font-weight: 700;
    margin: 0;
    line-height: 35px;
}

a {

    text-decoration: none;
    color: black;
}
	

header {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.head-container {

    display: flex;
    height: 544px;
    width: 1000px;
    max-width: 100%;
}

.left, .right {

    width: 50%;
    height: 100%;
}

.left {

    display: flex;
    background-color: #C7DDEA;
}

.blue-box {

    position: relative;
    display: flex;
    justify-content: center;
}

.wrapper {

    z-index: 1;
    position: relative;
    width: 70%;
}

.button {

    border-radius: 20px;
    border: solid 0px #ffffff;
    background-color: #ffffff;
    box-shadow: 0px 3px 0px 0px rgb(0 0 0 / 15%);
    font-weight: bold; 
    width: 130px;
    height: 40px;
}

.family {

    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
}

img {

    width: 290px;
    height: 280px;
}

.red-box, .yellow-box {

    height: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}


.red-box {

    background-color: #F17949;
}

.yellow-box {

    background-color: #FAB131;
}

nav ul {

    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: space-between;
}

nav ul li {

    margin: 0 50px;
}

/* Main Part - Sara */

.container-main {

    display: flex;
    justify-content: center;
    padding: 30px;
}  

.box-2colors {  

    margin: 0 auto;
    width: 1000px;
    max-width: 100%;
    background: linear-gradient(to bottom, #A8A19E 50%, #f9b10b 50%);  
}

div.papper {

    background-color:white;
    text-align: center;
    width: 260px;
    height: 310px;
    margin: 35px 10px;
    border-radius: 5px;
    box-shadow: 0 3px 3px 0 #3534348f;
}


.papper-text {

    margin: 0;
    padding: 0 6px;
    text-align: center;
    color: #00000066;
    font-family: 'Fira Sans';
    font-size: 12px;   
}

.papper.h4 {

    color: #000000bd;
}

.flexbox-box2 {

    margin: -15px 5.5% 0px;
    height: 140px;
    border-radius: 5px;
}

img.child, img.adult, img.old {

    margin-top: 14px;
    width: 85px;
    object-position: top;
}

.child, .adult, .old {

    object-fit: scale-down;
    max-width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.child {

    background-color:#c6dde9;
}

.adult {

    background-color:#f9b131;
}

.old{

    background-color:#f07949;
}

.flex {

    margin: 0 auto;
    width: 1000px;
    height: 680px;
}

.flexbox-container-1 {
    
    padding: 90px 0px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flexbox-container-2 {
    
    display: flex;
    margin-top: 30px;
    justify-content: center;   
}

.flexbox-item {

    margin: 0px 135px 35px 70px;
}

.flexbox-headline-1 { 
   
    color:white;
    margin-bottom: 40px;
    margin-top: 0px;
}

.flexbox-headline-2 {
    
    margin-left: 350px;
    display: flex;
    justify-content: center;
    color:white;
}

.flexbox-text-1 { 

   text-align: left;
   font-weight: 500;
   color: #000000dc;
   width: 270px;
   font-family: 'Fira Sans', sans-serif;
   font-size: 15px;
}

.flexbox-text-2 {
    
    margin: 10px 0 10% 0px;
    width: 500px;
    text-align: center;
    color:#0000006e;
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
 }

 /* Rimsha - FOOTER */

.container-footer {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;  
    width: 334px;
    height: 340px;  
}

.flexbox-box, .flexbox1, .flexbox2, .flexbox3, .flexbox4, .flexbox5 {

    width: 334px;
    height: 340px;
    padding: 10px;   
}

.flexbox, .flexbox1, .flexbox2 {

    grid-row-end: 1;
}

.flexbox3, .flexbox4, .flexbox5 {

    grid-row-end: 2; 
}

.flexbox-box {

    grid-column-start:1 ;
    background-color:#C7DDEA ;
    left: 219px;      
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Frank Ruhl Libre';
    font-size: 45px;
    text-align: center;
    font-weight: 900;
}

.flexbox1 {

    grid-column-start: 2;
    background-color:#FFFFFF;   
}

.top-number1, .top-number2, .top-number3, .top-number4, .top-number5 {
    
    color: grey;
    align-items: flex-start;
    justify-content: center;     
}

.text1, .text2, .text3, .text4, .text4, .text5 {

    color: black;
    font-family: 'Fira Sans';
    font-size: 17px;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
    padding: 45px;
    font-weight: 500;
    text-align: center;
}


.flexbox2 {

    grid-column-start:3;
    background-color: #EBEBEB;
}


.flexbox3 {

   grid-column-start: 1; 
   background-color: #ffffff;
}

.flexbox4 {

    grid-column-start: 2;
    background-color: #f17949;
}

.flexbox5 {

    grid-column-start: 3;
    background-color: #FFFFFF;   
}


.container-flex {

    display: flex;
    justify-content: center;
    background-color: #a9a19e;
    width: 1000px;
    height: 68px;
}

.p {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px
}

 /* Emelie - footer */

footer {

    margin: 0 auto;
    display: block;
    background: #777574;
    text-align: center;
    height: 410px;
    width: 1000px;
}

footer a {

    display: block;
    background: #A9A19E;
    height: 70px;
}

footer a span {

    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    transform: rotate(-45deg);
    margin: -15px;
}

p {

    margin: 0px;
}


@media screen and (max-width: 1000px) {
    section.head-container {
        flex-direction: column;
        height: auto;
    }
    
    section.left {
        width: 100%;
        height: 100vh;
    }
    
    section.right {
        height: 500px;
        width: 100%;
    }
    nav {
        display: none;
    }
    .flexbox-container-1 {
        justify-content: left;
        padding: 50px 10%;
        flex-direction: column;
    }
    
    .flexbox-item {
        margin: 0px;
        margin-bottom: 35px;
    }
    
    .container-main {
        flex-direction: column;
        padding-bottom: 0px;
    }
    
    .papper {
        width: 100%;
    }
    
    div.papper {
        width: 100%;
    }
    
    .box-2colors {
        background: #A8A19E;
    }
    .aboutUs {
        background: #f9b10b;
        padding-top: 25px;
    }
    h1.flexbox-headline-2 {
        width: 100%;
        margin: 0px;
    }
    
    p.flexbox-text-2 {
        padding: 0px 30px;
    }
    
    section.flex {
        max-width: 100%;
        height: auto;
    }
    
    .container-footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
    }
    
    .flexbox-box, .flexbox1, .flexbox2, .flexbox3, .flexbox4, .flexbox5 {
        width: 100%;
        height: 250px;
    }
    
    footer {
        max-width: 100%;
    }
}