* {
    box-sizing: border-box;
}

.container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;  
    width: 334px;
    height: 340px;  
}

.flexbox, .flexbox1, .flexbox2, .flexbox3, .flexbox4, .flexbox5 {

    width: 334px;
    height: 340px;
    padding: 10px;   
}

.flexbox, .flexbox1, .flexbox2 {

    grid-row-end: 1;
}

.flexbox3, .flexbox4, .flexbox5 {

    grid-row-end: 2; 
}

.flexbox {

    grid-column-start:1 ;
    background-color:#C7DDEA ;
    left: 219px;      
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Frank Ruhl Libre';
    font-size: 45px;
    text-align: center;
    font-weight: 900;
}

.flexbox1 {

    grid-column-start: 2;
    background-color:#FFFFFF;   
}

.top-number1, .top-number2, .top-number3, .top-number4, .top-number5 {
    
    color: grey;
    align-items: flex-start;
    justify-content: center;     
}

.text1, .text2, .text3, .text4, .text4, .text5 {

    color: black;
    font-family: 'Fira Sans';
    font-size: 17px;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
    padding: 45px;
    font-weight: 500;
    text-align: center;
}


.flexbox2 {

    grid-column-start:3;
    background-color: #EBEBEB;
}


.flexbox3 {

   grid-column-start: 1; 
   background-color: #ffffff;
}

.flexbox4 {

    grid-column-start: 2;
    background-color: #f17949;
}

.flexbox5 {

    grid-column-start: 3;
    background-color: #FFFFFF;   
}