* {
    box-sizing: border-box;
}

/* Header */

header {

    display: flex;
    height: 544px;
    width: 1000px;
}

/* Left container  */

.left {

    display: flex;
    background-color: #C7DDEA;
    width: 501px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

h1 {

    font-family: 'Frank Ruhl Libre', serif;
    font-size: 45px;
}

h4 {

    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
}

.white-text {
    color: #ffffff;
}

/* Right container */

.right {

    width: 501px;
    height: 100%;
    font-style: none;
}

.red-box {

    background-color: #F17949;
    width: 501px;
    height: 50%;
}

.yellow-box {

    background-color: #FAB131;
    width: 501px;
    height: 50%;
}


p {

    font-family: 'Frank Ruhl Libre', serif;
    font-size: 24px;
    margin: 0;
    font-style: none;
}

.family img {

    width: 286px;
    height: 279px;
}