* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0; 
}

img {
    max-width: 50%;
    width: auto;
    height: auto;
}

header {

    display: flex;
    height: 544px;
}

.left {

    background-color: #C7DDEA;
    width: 501px;
    height: 100%;
}

.right {

    width: 501px;
    height: 100%;
}

h1 {

    font-family: Frank Ruhl Libre;
    font-size: 45px;
}

h4 {

    font-family: Frank Ruhl Libre;
    font-size: 24px;
    margin: 0;
}

.red-box {

    background-color: #F17949;
    width: 501px;
    height: 50%;
}

.yellow-box {

    background-color: #FAB131;
    width: 501px;
    height: 50%;
}

.family img {

    width: 286px;
    height: 279px;
}